.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card > h3 {
    text-align: center;
    font-size: 16px;
    line-height: 110%;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card > img {
    max-width: 125px;
    max-height: 125px;
}

.card > ul {
    text-align: center;
    font-size: 16px;
    line-height: 110%;
    font-weight: 400;
}

@media (max-width: 768px) {
    .card > h3, .card > ul {
        font-size: 110%;
    }
}
