.header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
    background-color: #ddd;
    border-bottom: 1px solid #acacac;
}

.headerTitle {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    color: #6e6e6e;
}
